body, html{height:100%;}
/*nav{background:#262626;}*/
nav a {
	color: #fff;
	text-align: center;
}
.navbar-brand img{
	height: 40px;
}
a.navbar-brand, a.logo{font-family:"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#fff !important;font-size:2rem;font-weight:bold;margin-top:0;}
li.nav-item .btn{margin-top:.2rem;margin-left:.4rem;}
li.nav-item .btn-white{color:#46484a;}
.cover{background-image:linear-gradient(rgba(72, 198, 239, 0.7),rgba(111, 134, 214, 0.7)), url("../img/header.jpg");background-repeat:no-repeat;background-position:center;background-attachment:fixed;background-size:cover;min-height:35rem;height:auto;border-radius:0;width:100%;color:#fff; -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);}
.cover-inner{height: 50vh; text-align: center;}
.jumbo-cover form{padding-top: 0px;}
.jumbo-cover h2{font-family:'Sorts Mill Goudy', serif;}
.jumbo-cover h5{font-family:'Open Sans', sans-serif;}
.jumbo-cover form{
	padding-top: 40px;
}
.form-subs input{margin-left:14px;}
.form-subs button{margin-top:10px;margin-left:5px;}
.tombol button{width:150px;padding-left:20px;margin-right:20px;margin-top:30px;}
.judul{margin-top:25px;margin-left:40%;text-align:center;width:300px;border-bottom:1px solid #aaa;}
.isi{height:200px;margin:5px; width: 10px; opacity: .5; transition: .5s;}
.isi:hover{
	opacity: 1;
}
.isi h3{color:#fff;position:relative;text-align:center;top:50%;transform:translateY(-50%);}
.category{margin-top:50px;}
.html{background-image:url("../img/html.jpg");background-size:cover;background-position:center; -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.css{background-image:url("../img/css.jpg");background-size:cover;background-position:center; -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.js{background-image:url("../img/js.jpg");background-size:cover;background-position:center;-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.sql{background-image:url("../img/php.jpg");background-size:cover;background-position:center;-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); margin-top: -50px;}
.ds{background-image:url("../img/ds.jpg");background-size:cover;background-position:center;-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); margin-top: -50px;}
.subs{color:#fff;background-image:url("../img/coding.jpg");background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;height:250px;margin-top:30px;margin-bottom:30px;text-align:center;}
.form-sub input{margin-bottom:10px;}
.card{width:20rem;}
.title-sub{margin-top:20px;}
.isi-pop{margin-top:40px;margin-right:80px;}
.text-sm{margin-top:10%;margin-bottom:30%;text-align:center;color:#fff;}
.f-sm{margin-top:5%;}
.f-text{margin-left:18%;width:250px;}
@media (max-width:576px){.header{background-image:url("../img/header3.jpg");height:10%;}
.judul{margin-left:18%;text-align:center;}
.isi{height:150px;}
.f-text{margin-left:10%;width:50%;}
.subs{visibility:hidden;}
}